page-edit-group {
  .head-row,
  .data-row {
    height: 48px;
    border-bottom: solid 1px lightgray;
  }
  label {
    bottom: 0;
    position: absolute;
  }
  .head-row label {
    color: gray;
    padding-bottom: 5px;
  }
  .data-row label {
    color: #009688;
    font-size: 17px;
    padding-bottom: 8px;
  }
  .input-row {
    margin-top: 10px;
  }
  .input-col .text-input-md {
    margin: 6px 8px !important;
  }
  .select-col .select-md {
    padding: 6px !important;
  }
  .input-col {
    border: solid 1px gray;
    margin-right: 10px;
  }
  .select-col {
    border: solid 1px #009688;
  }
  #save_btn {
    width: 100%;
    height: 42px;
  }
  .button-outline-md {
    border-width: 2px !important;
  }
}