<ion-content class="no-scroll">
	<!-- Top Menu -->
	<div class="menu-div">
		<div tappable ion-item class="menu_item-div" (click)="goToHealthWizzPage()">Health Wizz</div>
		<div tappable ion-item class="menu_item-div" (click)="goToPatientsPage()">Patients</div>
		<div tappable ion-item class="menu_item-div-selected" (click)="goToSendAlertPage()">Send Alert</div>
		<div tappable ion-item class="menu_item-div" (click)="goToAppointmentsPage()">Appointments</div>

		<!-- <ion-icon name="notifications-outline" item-start class="notification-icon"></ion-icon> -->
		<div style="flex: 1 1 auto"></div>

		<div class="menu_item-div" style="margin-left: 20px;" (click)="goToRightMenuPage()">{{userName}}</div>
	</div>

	<ion-scroll scrollY="true" class="theroot">
		<div class="body-div">
			<div class="list-div">
				<ion-list class="group-list">
					<ion-item *ngFor="let _template of templates" [ngClass]="{selectedTemplate: _template.id === template?.id}">
						<ion-label (click)="setInitialData(_template)">{{_template.name}}({{group?.challenges.length}})</ion-label>
					</ion-item>
				</ion-list>
				<!-- <ion-list no-lines>
		  	<button ion-item (click)="goToEditListPage()">
		  		Edit list
		  	</button>		
	  	  </ion-list> -->
				<div (click)="goToEditListPage()" class="editList-div">Edit list > </div>
			</div>

			<div class="sendAlertResult-div">
				<div class="result_title-div">Send Alert</div>
				<!-- <div class="check_item-div">
					<div *ngFor="let item of group?.challenges;let i = index" style="display:flex">
						<ion-checkbox [checked]="group_toggle[i]?.value" [disabled]="group_toggle[i]?.value" (click)="toggleGroup(i)" style="border-radius: 10px;"></ion-checkbox>
						<div class="check_text-div">{{item.name}}</div>
					</div>
					<div class="add-new"> Add new > </div>
				</div> -->
				<div class="dropdown_menu-div">
					<ion-item style="width:100px; background:transparent; padding-left:2px !important">
						<ion-label>All</ion-label>
						<ion-checkbox style="margin-right:15px !important" (ionChange)="toggleAllPatients()" [(ngModel)]="select_all"></ion-checkbox>
					</ion-item>
					<div class="sortby-div">Sort by:</div>

					<ion-item class="select-item">
						<ion-select class="select-div" interface="popover" [(ngModel)]="sortType">
							<ion-option value="R-H" [selected]="true">Risk-Healthy</ion-option>
							<ion-option value="H-R">Healthy-Risk</ion-option>
							<ion-option value="A-Z">Patient A-Z</ion-option>
							<ion-option value="Z-A">Patient Z-A</ion-option>
						</ion-select>
					</ion-item>

					<ion-item class="select-item" style="width:300px">
						<ion-select class="select-div" interface="popover" [(ngModel)]="challenge" (ionChange)="selectChallenge()">
							<ion-option *ngFor="let _challenge of group?.challenges" [value]="_challenge">{{_challenge.name}}</ion-option>
						</ion-select>
					</ion-item>

					<ion-item class="search_item-div">
						<ion-input type="text" placeholder="search" [(ngModel)]="filterArgs"></ion-input>
						<ion-icon name="search" item-end></ion-icon>
					</ion-item>

					<div style="flex:1 1 auto"></div>
					<!-- <div (click)="goToManagePatientsPage()" class="managePatients-div">Manage Patients > </div> -->
					<button ion-button icon-right color="light" (click)="goToManagePatientsPage()">
						Manage Patients
						<ion-icon name="ios-arrow-forward"></ion-icon>

					</button>
				</div>

				<div>
					<ion-list no-lines *ngFor="let patient of patients | homeSearch: filterArgs | sortAlertBy: {by: sortType}">
						<div class="list_items-div animated flipInX" (click)="goToPatientListItemPage(patient.patient)">
							<ion-checkbox style="margin:7px" [(ngModel)]="patient.select"></ion-checkbox>
							<ion-avatar item-start>
								<img class="circle-pic_middle" [src]="patient.patient.avatar">
							</ion-avatar>
							<div class="item_name-div">{{patient.patient.profile.firstName}}{{" "}}{{patient.patient.profile.lastName}}</div>
							<ion-icon name="call-outline"></ion-icon>
							<div class="item_phonenumber-div">{{patient.patient.bio.cell}}</div>
							<ion-icon name="mail-outline"></ion-icon>
							<div class="item_mail-div">{{patient.patient.bio.email}}</div>
							<!-- <div class="item_other-div" *ngFor="let other of patient.otherChallenges">
								<span>{{other}}</span>
							</div> -->
							<div class="item_other-div">{{cpList.challenge.name}}</div>
							<div class="firstNumberCircle">{{patient.patient.statusCount.red}}</div>
							<div class="secondNumberCircle">{{patient.patient.statusCount.yellow}}</div>
							<div class="thirdNumberCircle">{{patient.patient.statusCount.green}}</div>
							<div class="item_time-div">{{patient.patient.timespan}}</div>
						</div>
					</ion-list>
				</div>
				<div style="height:50vh"></div>
			</div>
		</div>
	</ion-scroll>

	<div class="sendDialog-div">
		<div class="dialog-div">
			<div class="dialogTitle">Subject:</div>
			<ion-input type="text" [(ngModel)]="subject" placeholder="Your next appointment" class="dialogInputR"></ion-input>
		</div>
		<div class="dialogBody-div">
			<ion-textarea [(ngModel)]="message" style="height: 80px"></ion-textarea>
			<button ion-button color="light" (click)="sendAlert()" outline class="sendButton">Send</button>
		</div>
	</div>

</ion-content>