.monthlySelect {
	color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}

.line-div {
	position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.col1 {
	border-left: 2px solid #EFEFF4;
    height: 700px;
    width: 2px;
}